body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #111827;
    color: #f3f2f2;
}
#addItemPanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 400px;
    max-width: 90%;
    
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    font-family: 'Segoe UI', sans-serif;
}
#addItemPanel h3 {
    margin-bottom: 1.5rem;
    color: #1F2937;
    font-size: 1.4rem;
}
#addItemPanel label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #374151;
}
#addItemPanel input {
    width: 70%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    outline: none;
    transition: 0.3s ease;
}

#addItemPanel input:focus {
    border-color: #2563EB;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}
#addItemPanel button {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 0.5rem;
    transition: 0.3s ease;
}
#addItemPanel button:first-of-type {
    background-color: #2563EB;
    color: white;
}
#addItemPanel button:first-of-type:hover {
    background-color: #1D4ED8;
}
#addItemPanel button:last-of-type {
    background-color: #E5E7EB;
    color: #111827;
}
#addItemPanel button:last-of-type:hover {
    background-color: #D1D5DB;
}
header {
    background: #3B82F6;
    color: #fffefe;
    padding: 1rem;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}
nav a {
    color: #f3f2f2;
    text-decoration: none;
}
main {
    padding: 1rem;
}
section {
    margin-bottom: 2rem;
    background: #1F2937;
    padding: 1rem;
    border-radius: 4px;
}
table {
    width: 100%;
    border-collapse: separate;

}
th, td {
    padding: 0rem;
    border: 1px solid #ccc;
    text-align: center;
}
footer {
    text-align: center;
    padding: 3rem  ;
    background: #d7d6d6;
}
@media (max-width: 450px) {
    nav ul {
        flex-direction: column;
        gap: 0rem;
    }

    header, main, section {
        padding: 0rem;
    }

    table, th, td {
        font-size: 0.9rem;
    }
}